    @*<div class="col-md-4">
            <img class="@(this.ClassName == "gear" ? "border" : string.Empty)" src="Items/@(this.ItemName).png" alt="">
        </div>*@

    <div class="dropdown">
        <img src="Items/@(this.ItemName).png"
             alt="dropdown image"
             class="btn btn-outline-danger img-responsive @(this.ClassName == "gear" ? "border" : string.Empty)">
        <ul class="dropdown-menu text-center">
            <li><a href="#">Equit</a></li>
            <li><a href="#">Info</a></li>
        </ul>
    </div>

@code {
  //protected override void OnInitialized()
  //{
  //    Console.WriteLine($"~/Items/{this.ItemName}.png");
  //}

  [Parameter]
  public string ClassName { get; set; } = string.Empty;

  [Parameter]
  public string ItemName { get; set; }
}