<div class="dropdown">
    <img src="Items/@(this.Model.ItemType).png"
         alt="dropdown image"
         class="btn btn-outline-danger img-responsive @(this.ClassName == "gear" ? "border" : default)">
    <ul class="dropdown-menu text-center">

        @if (this.ClassName == "gear")
        {
            <li><a @onclick="this.Equip" href="#">Unequip</a></li>
        }
        else
        {
            <li><a @onclick="this.Equip" href="#">Equip</a></li>
        }

        <li><a href="#">Info</a></li>
    </ul>
</div>