@namespace SFMBE.Client.Features.Characters

@using SFMBE.Client.Features.Bags;
@using SFMBE.Client.Features.Gears;
@inherits BaseComponent

@if (this.checkForCharacter && this.CharactersState.Character is null)
{
    <p><em>Searching Character...</em></p>
}
else if (!this.checkForCharacter && this.CharactersState.Character is null)
{
    <EditForm Model="this.characterName" OnValidSubmit="this.CreateCharacter">
        <div class="form-group">
            <label>Character name:</label>
            <div>
                <InputText class="form-control" @bind-Value="this.characterName" />
                <ValidationMessage For="(() => this.characterName)" />
            </div>
        </div>

        <button type="submit" class="btn btn-block text-right">Create</button>
    </EditForm>
}
else
{
    <div class="row py-2">

        <CharacterInfo Character="this.CharactersState.Character" />

        <Gear />

        <Bag />

    </div>
}
