@page "/"
@page "/index"
@using SFMBE.Client.Pages.Character;

<div class="">

    <CardInfo />

    <Board TypeBoard="gear" Items="gearItems" BoardRows="3" />

    <Board TypeBoard="bag" Items="bagItems" BoardRows="7" />

</div>
