@page "/"
@page "/index"
@attribute [Authorize]
@using SFMBE.Client.Pages.Character;

<ErrorList Errors="this.character?.Errors" />

@if (this.character is null)
{
    <p><em>Searching Character...</em></p>
}
else if (this.character?.Data is null)
{
    <EditForm Model="this.characterRequestModel" OnValidSubmit="this.CreateCharacter">
        <div class="form-group">
            <label>Character name:</label>
            <div>
                <InputText class="form-control" @bind-Value="this.characterRequestModel.CharacterName" />
                @*<ValidationMessage For="(() => this.characterRequestModel.CharacterName)" />*@
            </div>
        </div>

        <button type="submit" class="btn btn-block text-right">Create</button>
    </EditForm>
}
else
{
    <div class="row">

        <CharacterInfo />

        <Board TypeBoard="gear" Items="gearItems" BoardRows="3" />

        <Board TypeBoard="bag" Items="bagItems" BoardRows="7" />

    </div>
}