@page "/"
@page "/index"
@attribute [Authorize]

@using SFMBE.Client.Features.Characters;

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Identity.Name !!</h1>

        <Character />
        
    </Authorized>
    <Authorizing>
        <h1>Loading ...</h1>
    </Authorizing>
</AuthorizeView>