@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<nav style="max-height: 56px;" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">SFMBE</a>
    <AuthorizeView>
        <Authorized>
            <span>Hello, @context.User.Identity.Name!</span>
        </Authorized>
    </AuthorizeView>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav ml-auto">
            <AuthorizeView>

                <Authorized>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" @onclick="@LogoutClick">Logout</a>
                    </li>
                </Authorized>

                <NotAuthorized>
                    <li class="nav-item active">
                        <a class="nav-link" href="/register">Register <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>


@code{
  [Inject] public BlazorState.IStore Store { get; set; }
  async Task LogoutClick()
  {
      await this.AuthService.Logout();
      this.Store.Reset();
      this.NavigationManager.NavigateTo("/login");
  }
}