@namespace SFMBE.Client.Features.Character

@using SFMBE.Client.Shared.Character
@using SFMBE.Client.Features.Bag
@using SFMBE.Client.Features.Gear
@inherits BaseComponent

<ErrorList Errors="this.CharacterState.Character?.Errors" />

@if (this.CharacterState.Character is null)
{
    <p><em>Searching Character...</em></p>
}
else if (this.CharacterState.Character.Data is null)
{
    <EditForm Model="this.characterName" OnValidSubmit="this.CreateCharacter">
        <div class="form-group">
            <label>Character name:</label>
            <div>
                <InputText class="form-control" @bind-Value="this.characterName" />
                <ValidationMessage For="(() => this.characterName)" />
            </div>
        </div>

        <button type="submit" class="btn btn-block text-right">Create</button>
    </EditForm>
}
else
{
    <div class="row">

        <CharacterInfo Character="this.CharacterState.Character.Data" />

        <Gear />

        <Bag />

    </div>
}

