@namespace SFMBE.Client.Features.Character

<li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="col-md-6">
        @this.Type
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <a class="badge badge-primary badge-pill" @onclick="this.Decreased">-</a>
            </div>
            <div class="col-md-4">
                @this.Value
            </div>
            <div class="col-md-4">
                <a class="badge badge-primary badge-pill" @onclick="this.Increased">+</a>
            </div>
        </div>
    </div>
</li>