@using SFMBE.Client.Features.Items

<div class="overflow card border-danger col-md-4">
    @if (this.Items is null || this.Items.Count == 0)
    {
        <p><em>YOU NEED TO PLAY MORE!</em></p>
    }
    else
    {
        @for (int i = 0; i < this.ItemsPerRow().Length; i++)
        {
            //TODO: Check For Empty Space

            <ItemRow Type="@this.TypeBoard"
                     Items="@this.ItemsPerRow()[i]"
                     Border="@(this.TypeBoard == "Bag" ? "border-bottom" : string.Empty)" />
        }
    }
</div>